@using Agent.Web.ViewModels
@model IEnumerable<BookViewModel>

@{
    ViewBag.Title = "Filter";
}

<div class="container">
    <div class="jumbotron">

        @foreach (var item in Model)
        {
            <div class="panel panel-default">
                <div class="panel-heading">
                    @Html.Label(item.Title)
                </div>
                @await Html.PartialAsync("_Book.cshtml", item)
            </div>
        }

    </div>
</div>