<div class="col-lg-4">
    <section class="bar">
        <div class="heading">
            <h3>Endpoints</h3>
        </div>
        <div class="row">
            <div class="col-md-12 text-left">
                <a asp-controller="Account" asp-action="TransactionInquiry" style="width: 80%;margin-bottom: 1rem;" class="btn btn-outline-dark">Transaction Inquiry</a>
                <a asp-controller="Account" asp-action="Transaction" style="width: 80%;margin-bottom: 1rem;" class="btn btn-outline-dark">Make Transaction</a>
                <a asp-controller="Account" asp-action="TransactionStatus" style="width: 80%;margin-bottom: 1rem;" class="btn btn-outline-dark">Check Transaction Status</a>
            </div>
        </div>
    </section>
</div>