<div id="heading-breadcrumbs">
    <div class="container">
        <div class="row d-flex align-items-center flex-wrap">
            <div class="col-md-7">
                <h1 class="h2">Transaction</h1>
            </div>
            <div class="col-md-5">
            </div>
        </div>
    </div>
</div>

<div id="content">
    <div id="contact" class="container">
        <div class="row">
            @await Html.PartialAsync("_Endpoints")
            <div class="col-lg-8">
            </div>
        </div>
    </div>
</div>