@using Agent.Core.Dtos
@using Agent.Web.ViewModels
@using Agent.Web.ViewExtensions

@model InquiryDetailDto

@{
    var alertMessage = TempData.Get<AlertViewModel>("AlertViewModel");
}

<div id="heading-breadcrumbs">
    <div class="container">
        <div class="row d-flex align-items-center flex-wrap">
            <div class="col-md-7">
                <h1 class="h2">Transaction Inquiry</h1>
            </div>
            <div class="col-md-5">
            </div>
        </div>
    </div>
</div>

<div id="content">
    <div id="contact" class="container">
        @if (alertMessage != null)
        {
            <div role="alert" class="alert alert-@(alertMessage.Success ? "success" : "danger") alert-dismissible" style="margin-top: 1rem;">
                <button type="button" data-dismiss="alert" class="close"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                @alertMessage.Message
            </div>
        }
        <div class="row">
            @await Html.PartialAsync("_Endpoints")
            <div class="col-lg-8">
                <section class="bar mb-0">
                    <p><strong>Agent ID</strong> : @Model?.AgentID</p>
                    <p><strong>SubAgent ID</strong> : @Model?.SubAgentID</p>
                    <p><strong>Agent Name</strong> : @Model?.AgentName</p>
                    <p><strong>Original Amount</strong> : @Model?.OriginalAmount</p>
                    <p><strong>Agent Commission</strong> : @Model?.AgentCommission</p>
                    <p><strong>Customer Charges</strong> : @Model?.CustomerCharges</p>
                    <p><strong>Total Amount</strong> : @Model?.TotalAmount</p>
                    <p><strong>Invoice No.</strong> : @Model?.InvoiceNo</p>
                    <p><strong>Sequence No.</strong> : @Model?.SequenceNo</p>
                    <p><strong>Receiver No.</strong> : @Model?.ReceiverNo</p>
                </section>
            </div>
        </div>
    </div>
</div>