
@{
    string controllerName = this.ViewContext.RouteData.Values["controller"].ToString();
}

<!-- Navbar Start-->
<header class="nav-holder make-sticky">
    <div id="navbar" role="navigation" class="navbar navbar-expand-lg">
        <div class="container">
            <a href="index.html" class="navbar-brand home">
                <h2>Agent Web</h2>
            </a>
            <button type="button" data-toggle="collapse" data-target="#navigation" class="navbar-toggler btn-template-outlined"><span class="sr-only">Toggle navigation</span><i class="fa fa-align-justify"></i></button>
            <div id="navigation" class="navbar-collapse collapse">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item @(controllerName == "Home" ? "active" : "")">
                        <a asp-controller="Home" asp-action="Index">Payment API</a>
                    </li>
                    <li class="nav-item @(controllerName == "Account" ? "active" : "")">
                        <a asp-controller="Account" asp-action="Index">Transaction API</a>
                    </li>
                    <li class="nav-item">
                        <a href="~/hangfire">Hangfire Dashboard</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>
<!-- Navbar End-->